/*
    Override
*/

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {
            height: 1500px
        }


/* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }

        .row.content {
            height: auto;
        }
    }


.card-panel,
.collection a.collection-item,
.navbar {
    background-color: #1a1a1f;
    color: #ffffff;
}

nav a,
nav ul a,
tr a,
.login a,
.pagination li a {
  color: #ffffff;
}

nav ul a,
.input-field>label,
label{
    font-size: 18px;
}

.container {
    margin-top: 20px;
}

.btn, .btn-large, .btn-small,
 .btn:hover, .btn-large:hover, .btn-small:hover,
  .btn:focus, .btn-large:focus, .btn-small:focus{
    background-color: #ffffff;
    color: #1a1a1f;
}

input,
 input:focus{
    color: black;
    border-bottom: 1px solid #ffffff !important;
}


.collection .collection-item,
.collection .collection-item.active
        {
            background-color: #1a1a1f;
            color: #ffffff;
        }

.collection a.collection-item:not(.active):hover,
.collection a.collection-item {
    background-color: #323237;
    color: #ffffff;
}

span.badge {
    color: #ffffff;
}

/* Navbar */
 .navbar-brand{
     padding: 30px 30px 30px 15px;
     font-size: 25px;
}
/* Landing */
/*-------------------------------------------------------------- #General --------------------------------------------------------------*/
 body{
    background-color: #808080;
    color: #ffffff;
     font-size: 18px;
     font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
     overflow-x:hidden;
     right: 20px;
}

 p{
     padding:0;
     margin:30px 0px;
}
 h1,h2,h3 {
     font-family:"Montserrat",sans-serif;
     font-weight:400;
     padding:0;
}

 a {
    color: black;
 }

 form {
 color: black;
 }


div a {
      text-decoration: none;
      font-size: 20px;
      padding: 15px;
      display:inline-block;
    }

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {display: inline-block;}

ul li:hover {background: #F0F8FF;}

ul li:hover ul {display: block;}

table, th, td {
  border: 1px solid black;
}
th, td {
  text-align: center;
  width: 10%;
  padding: 0px;
}

#content1 {
    float: left;
	width: 50%;
}
#content2 {
    width: 50%;
	float: right;
}


.datepicker-container {
  background-color: #9d9393;
  direction: ltr;
  font-size: 12px;
  left: 0;
  line-height: 30px;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 210px;
  z-index: -1;
}

.datepicker-container::before,
.datepicker-container::after {
  border: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.datepicker-dropdown {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 6px #ccc;
  box-shadow: 0 3px 6px #ccc;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
}

.datepicker-inline {
  position: static;
}

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39f;
}

.datepicker-top-left::before,
.datepicker-top-left::after,
.datepicker-top-right::before,
.datepicker-top-right::after {
  border-top: 0;
  left: 10px;
  top: -5px;
}

.datepicker-top-left::before,
.datepicker-top-right::before {
  border-bottom-color: #39f;
}

.datepicker-top-left::after,
.datepicker-top-right::after {
  border-bottom-color: ##9d9393;
  top: -4px;
}

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f;
}

.datepicker-bottom-left::before,
.datepicker-bottom-left::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  border-bottom: 0;
  bottom: -5px;
  left: 10px;
}

.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: #39f;
}

.datepicker-bottom-left::after,
.datepicker-bottom-right::after {
  border-top-color: #9d9393;
  bottom: -4px;
}

.datepicker-top-right::before,
.datepicker-top-right::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  left: auto;
  right: 10px;
}

.datepicker-panel > ul {
  margin: 0;
  padding: 0;
  width: 102%;
}

.datepicker-panel > ul::before,
.datepicker-panel > ul::after {
  content: " ";
  display: table;
}

.datepicker-panel > ul::after {
  clear: both;
}

.datepicker-panel > ul > li {
  background-color: #696969;
  cursor: pointer;
  float: left;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 30px;
}

.datepicker-panel > ul > li:hover {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999;
}

.datepicker-panel > ul > li.highlighted {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li.highlighted:hover {
  background-color: rgb(204, 229, 255);
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39f;
}

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  background-color: #9d9393;
  color: #ccc;
  cursor: default;
}

.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"],
.datepicker-panel > ul > li[data-view="month prev"],
.datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"],
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="next"] {
  font-size: 18px;
}

.datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="month current"] {
  width: 150px;
}

.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="months"] > li {
  height: 52.5px;
  line-height: 52.5px;
  width: 52.5px;
}

.datepicker-panel > ul[data-view="week"] > li,
.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: #9d9393;
  cursor: default;
}

.datepicker-hide {
  display: none;
}



/* uses Modernizr to add .flexbox to html class, if not supported the fallback are the basic bootstrap grid */
@media (min-width:992px) { /* choose your min-width this is using the md- default */
  .flexbox .flex-row.row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

  .flexbox .flex-row [class*=flexcol-] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

  .flexbox .flex-row .flexcol-errors {
        order: 2;
        width:100%;
    }
}